* {
  margin: 0;
  padding: 0;
}
:root {
  /* primary colors */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  /* neutral colors */
  --Very-dark-blue: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --Cyan-tran: hsl(178, 100%, 50%, 0.5);
}
body {
  background-color: var(--Very-dark-blue);
  color: var(--Soft-blue);
  font-size: 1.25rem;
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  max-width: 350px;

  padding: 20px;
  position: relative;
  border-radius: 3%;
  background-color: var(--Very-dark-blue-card);
}
a {
  text-decoration: none;
  color: var(--White);
  transition: color 0.3s ease;
}
ul {
  list-style: none;
}
.sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.main-img {
  position: relative;
}
.main-img img {
  width: 100%;
  border-radius: 3%;
  transition: background-color 0.5s;
  display: block;
  height: auto;
}
.main-img:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--Cyan-tran);
  border-radius: 3%;
  cursor: pointer;
}
.view {
  color: var(--White);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.card {
  padding: 5px;
}
.title {
  padding: 20px 0;
  color: var(--White);
  transition: all;
  font-size: 1.4rem;
}
.title:hover {
  color: var(--Cyan);
  cursor: pointer;
}
.card p {
  padding-bottom: 20px;
}
.pri-ti {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pri-ti img {
  width: 100%;
  max-width: 10px;
  padding-right: 3px;
}
.pri-ti p {
  display: inline-block;
}

.time img {
  max-width: 17px;
}

.price p {
  color: var(--Cyan);
}
.creator {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid hsl(215, 32%, 27%);
}
.creator img {
  max-height: 30px;
  max-width: 30px;
  padding-right: 15px;
  padding-top: 20px;
}
.creator p {
  display: inline-block;
  padding-top: 25px;
  text-align: center;
}
.creator__anchor {
  color: var(--White);
}
.creator__anchor:hover {
  color: var(--Cyan);
  cursor: pointer;
}
